<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jdfwarrior.alfredtweet</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1511D264-EC55-442C-9481-25F1FE31E548</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B05C998-7459-4505-A806-00E5E337AEED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Ferguson</string>
	<key>description</key>
	<string>Tweeting from Alfred like never before!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AlfredTweet</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>twitter search</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching Twitter</string>
				<key>script</key>
				<string>require('workflows.php');
require('alfredtweet.php');
$w = new Workflows();
$at = new AlfredTweet();

$in = "{query}";
if ( strlen( $in ) &gt; 3 ):
	$results = $at-&gt;search( $in );
	if ( count( $results ) == 0 ):
		$w-&gt;result( 'na', 'na', 'No search results found', 'Unable to find tweets matching your query', 'icon.png', 'no' );
	else:
		foreach( $results-&gt;statuses as $result ):
			$w-&gt;result( $result-&gt;id, 'http://twitter.com/alfredtweet/status/'.$result-&gt;id_str, $result-&gt;user-&gt;screen_name, $result-&gt;text, 'icon.png', 'yes' );
		endforeach;
	endif;
endif;

echo $w-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Seach Twitter for matching Tweets</string>
				<key>title</key>
				<string>Search Twitter</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1511D264-EC55-442C-9481-25F1FE31E548</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6B05C998-7459-4505-A806-00E5E337AEED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1511D264-EC55-442C-9481-25F1FE31E548</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>6B05C998-7459-4505-A806-00E5E337AEED</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>jdfwarrior.tumblr.com</string>
</dict>
</plist>
